*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {

  font-size: 62.5%; 
}

body {
  font-family: Arial, sans-serif;
  font-size: 1.6rem; 
  line-height: 1.5;
  color: #333;
  background-color: #f8f8f8;
}

h1, h2, h3 {
  font-weight: bold;
  margin-bottom: 1rem;
}

h1 {
  font-size: 3.6rem; 
}

h2 {
  font-size: 2.4rem; 
}

p {
  margin-bottom: 1.2rem;
  font-size: 1.6rem; 
}

/* CSS Details */
.container {
  max-width: 1500px;
  margin: 0 auto;
  padding: 2rem;

}

section{
  display:flex;
  justify-content: center;
}

.profile{
  display: flex;
  justify-items: center;
  .profile-header{
    display: flex;
    gap: 4em;
    padding-bottom: 3em;
  }
  .profile-header__avatar{
    display: flex;
    justify-content: center;
    img{
      object-fit: contain;
      border-radius: 2em;
    }
  }
}
.profile-summary{
  .profile-summary__text_section{
    width: 80%;
  }

}

.dev-stack {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  padding-top: 3em;
  width: 100%;

  h1 {
    display: flex;
    justify-content: center;
  }
  .logos {
    overflow: hidden;
    padding: 60px 0;
    width: 100%;
  }
  .logos-slide{
    display: flex;
    flex-wrap: nowrap;
    will-change: transform;
  }
  .logos-slide img{
    height: 100px;
    margin: 0 40px;
  }
}



@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-250px * 7))}
}

.nav-bar{
  display: flex;
  justify-content: space-evenly;
  padding: 1em 2em;
  font-size: 1em;
}
.footer{
  display: flex;
  justify-content: center;
  font-size: 1em;
  section{
    padding: 2em 3em;
  }
}